* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100vh;
    background: rgb(0, 0, 0);
}

html {
    font-size: 20px ;
    font-style: italic;
}

.wrapper{
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

.container {
    width: 70vmin;
    height: 70vmin;
    display: flex;
    flex-wrap: wrap;
    gap: 1vmin;
}

.button-resource {
    border: rgb(0, 0, 0);
    border-radius: 30px; 
    font-size: 12vmin;
    color: #ffffff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    background: #138ab9;;
    height: 22vmin;
    width: 22vmin;
    
}
#restart {
    background-color: #138ab9;;
    color: #ffffff;
    border: #14071a;
    position: relative;
    margin: 1em auto 0 auto;
    display:block;
    font-size: 1.3em;
    margin-top: 1.5em;
    padding: 1em;
    border-radius: 50px;
   
}

.popup {
    z-index: 2;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1em;
    font-size: 12vmin;
    background: rgb(0, 0, 0);
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
   
}
#new-game {
    font-size: 0.6em;
    padding: 0.5em 1em;
    background-color: #138ab9;
    color: #ffffff;
    border-radius: 0.2em;
    border: none;
}
#message {
    color: #ffffff;
    text-align: center;
    font-size: 1em;
}

.popup.hide {
    display:none ;
}